html {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 75px;
    margin-left: 75px;
    padding: 5;

}

h1.intro {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-style: bold;
    color: #C70039;
    line-height: 20px;

body {
    font-family: 'Open Sans', sans-serif; 
    src: url(https://fonts.googleapis.com/css?family=Raleway);
    line-height: 1.5
    background: #EBF4FA;
    margin: 0;
    padding: 5;
}
p.intro {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #1B4F72;
    font-style: bold;
    margin-top: 0;
    text-align: left;
}


h1 {
    font-family: 'Raleway', sans-serif; 
    font-size: 24px;
    font-style: normal;
    color: #900c3f;
    line-height: 20px;
}
h3 {
    font-family: 'Raleway', sans-serif; 
    font-size: 18px;
    font-style: normal;
    color: #ff5733;
    line-height: 1.5;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #1B4F72;
    margin-top: 0;
    text-align: left;
}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #1b4f72;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #900c3f;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #ffc300;
	}
abbr {
	border-bottom: none;
	}
